body{
	margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
	}
canvas{
	position:fixed;
	top:0;
	z-index:-1000;
}

.waves1 {background-image:url('../media/waves1.png');} 
.waves2 {background-image:url('../media/waves2.png');} 
.waves3 {background-image:url('../media/waves3.png');}
.waves4 {background-image:url('../media/waves4.png');}
.waves5{background-image:url('../media/waves5.png');}
.waves6{background-image:url('../media/waves6.png');}
.waves7{background-image:url('../media/waves7.png');}
.waves8{background-image:url('../media/waves8.png');}
.waves9{background-image:url('../media/waves9.png');}
.waves10{background-image:url('../media/waves10.png');}
.waves11{background-image:url('../media/waves11.png');}
.waves12{background-image:url('../media/waves12.png');}

.fullWaves{background-image:url('../media/fullWaves.png');}

.waveR{background-image:url('../media/wavesR.png');}
.waveL{background-image:url('../media/wavesL.png');}

.person{background-image:url('../media/water-person.png');}

.waves1,.waves2,.waves3,.waves4,.waves5,.waves6,.waves7,.waves8,.waves9,.waves10, .waves11, .waves12, .waveR, .waveL, .person, .fullWaves{
	opacity: 0.9;
	position:absolute;
	background-size:cover;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	}

	.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9,.image10, .image11, .image12,  .waveR-image, .waveL-image, .person-image, .fullWaves-image{
	position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
/*    overflow:hidden;*/
	}
	.waveR-image{
    transform-origin: bottom right;
	}
	.waveL-image{
    transform-origin: bottom left;
	}

#chop{
	width:100px;
	height:auto;
	position: fixed;
	bottom:5%;
	right:5%;

}

#chop:hover{
	opacity:0.5;
	transition-duration: 0.5s;
}